.markdown figure.scientific-figure {
    text-align: center;
    margin: 1.8rem auto;
}

.scientific-figure img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

.markdown figure.scientific-figure figcaption {
    margin-top: 0.25rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 0.90rem;
    line-height: 1.4;
    font-style: normal;
    text-align: center;
}

.book-footer {
    text-align: center;
}

.book-menu {
    background-color: #dceaf5;
}

.book-search input {
    background-color: #ffffff;
}

html, body {
    height: 100%;
}

.book-page {
    min-height: 100vh;
}

.book-menu {
    min-height: 100vh;
}